@{
    ViewBag.Title = "About";
}

<style>
    .background_Image {
        
        background-image: url('../../image/cropss.jpg');
        background-repeat: no-repeat;
        background-size: 100% 222%;
    }
</style>
<body class="background_Image">
    <div style="background: aliceblue; width: 92%; border-radius: 7px; ">
        <div>
            <h3>Farmers Touch</h3>
        </div>

        <div>
            <p>
                The App should act as a bridge between the Farmer and the Dealer (Crop purchaser).
                All you need to do is selecting whether you are a Farmer or the Dealer, signing up with details and the payment information.
                There is no need for the farmer to carry the crop till the market, paying unexpected commissions and wait for proper price from the Dealers.
                Whenever farmer want to sell the vegetables/fruits at the Farm itself, he just wants to select the type of Crop, quantity available,
                input the location/address and publish the information to Dealers. Whoever(Dealer) is interested in purchasing will connect with the Farmer,
                will reach the location, checks the quality of the crop,negotiates the price,
                weighs the crop and payment will be done to the farmer from the App itself which will be more transparent rather than paying tolls/commissions.

            </p>
        </div>
    </div>
</body>